.freshtitle {
  font-family: "Axiforma Regular";
  font-size: 40px;
  padding-bottom: 1.5rem;
}
.freshtext {
  font-family: "Axiforma Regular";
  font-size: 20px;
  padding-bottom: 1.5rem;
}
.freshbtn {
  border-radius: 50px;
  border: 1px solid #fff;
  padding: 10px 32px;
  background: none;
  transition: 0.8s;
  cursor: pointer;
}
.freshbtn:hover {
  color: black;
  background-color: white;
  transition: 0.8s;
}
.freshdiv {
  padding-left: 6rem;
  padding-top: 3rem;
}
.parent-of-freshcardsdiv {
  display: grid;
  padding-top: 3rem;
  padding-bottom: 3rem;
  place-items: center; /* centers both horizontally and vertically */
  height: 100vh; /* takes full viewport height */
}
