.teamtitle>p{
    font-size: 64px;
    font-weight: 700;
}
.teamname{
    font-size: 24px;
    font-family: "Axiforma Regular";
    font-weight: 700;
}
.teamrole{
    color: #FB03F5;
    padding-top: 0.5rem;
    font-size: 16px;
    font-family: "Axiforma Regular";
    padding-bottom: 1rem;
    font-weight: 400;
}
.teammaindiv{
    text-align: center;
    padding-bottom: 4rem;
    background: rgb(2,0,36);
    background: linear-gradient(142deg, rgba(2,0,36,0.413624824929972) 0%, rgba(29,29,31,0) 72%, rgba(6,255,240,0.352000175070028) 99%);
}
.teambody{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}
.teamsocials{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}