* {
  font-family: "Axiforma-ExtraBold";
  color: white;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
  overflow-x: hidden;
}
.header-hero-container {
  height: 100vh;
  background-image: linear-gradient(
      32deg,
      #000 7.93%,
      rgba(69, 7, 79, 0.16) 84.23%
    ),
    url("./Assets/hero-bg.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}
.header-hero-container2 {
  height: 100vh;
  background-image: linear-gradient(
      32deg,
      #000 7.93%,
      rgba(69, 7, 79, 0.16) 50.23%
    ),
    url("./Assets/aboutbg.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}
.pricingpagetitle{
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  padding-top: 4rem;
}